label, .ball{
    margin: 0;
    padding: 0;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    text-align: center;
    line-height: 2.4;
    color: #B2B2B2;
    font-weight: 500;

    &.selected{
        color: white;
    }

    &:hover{
        cursor: pointer;
    }
}

input {
    display: none;
}

.wrapper{
    background-color: #EFEFED;
    border-radius: 20px;
    min-height: 40px;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    padding: 0;
    box-shadow: 0px 0px 14px -9px black inset;
}